{% extends 'base.html'%}


{% block body %}
    
    <div class="container">
        <div class="slide-one">
            <!-- منطقة المنتجات -->
            <div class="product-area">
                قائمة المنتجات
            </div>
            <!-- منطقة الزبناء -->
            <div class="customers-area">
                قائمة العملاء
            </div>
            <!-- منطقة المبيعات -->
            <div class="sales-area">
                المبيعات
            </div>
        </div>
        
        <div class="slide-two">
            <!-- منطقة الوقت -->
            <div id="currentTime" class="time-area">
            </div>
            <!-- منطقة العمليات الأخيرة -->
            <div class="operations-area">
                العمليات الأخيرة
            </div>
            <!-- منطقة التقارير -->
            <div class="reports-area">
                <div class="annual-report">
                    التقرير السنوي
                </div>
                <div class="monthly-report">
                    التقرير الشهري
                </div>
                <div class="daily-report">
                    التقرير اليومي
                </div>
            </div>
        </div>
    </div>
{% endblock %}